/* 适合中文的字体家族. */
:root{
	--sl-font:system-ui, -apple-system, BlinkMacSystemFont, "Helvetica Neue"``, "Segoe UI"``, Helvetica``, Arial``, "PingFang SC"``, "Microsoft YaHei"``, "WenQuanYi Micro Hei"``, sans-serif``;
	--__sl-font-mono: system-ui, -apple-system, BlinkMacSystemFont, "Helvetica Neue"``, "Segoe UI"``, Helvetica``, Arial``,"PingFang SC"``, "Microsoft YaHei"``, "WenQuanYi Micro Hei"``, sans-serif``;
}

/* 修改内容区列宽 */
.lg\:sl-flex{
	display: flex;
	justify-content: space-between;
}
.right-sidebar-container{
	width: 22em;
	.sl-container>starlight-toc>nav>ul>li,a{
		line-height: 1.2; /* 右侧页面内导航行高 */
	}
}
@media (max-width: 72rem) {
	.right-sidebar-container {
		order: 2;
		position: relative;
		width: auto;
	}
}

img, picture, video, canvas, svg, iframe{
	border-radius: 8px; /* 图片圆角 */
}

/* 侧边栏 */

::-webkit-scrollbar
	{
		width: 6px; /* 滚动条宽度 */
		background-color: var(--sl-color-gray-7); /* 滚动条背景颜色 */
	}
::-webkit-scrollbar-thumb
	{
		border-radius: 10px;
		background-color: var(--sl-color-gray-5); /* 滚动条颜色 */
	}

.hero{
	padding-block: 0px; /* hero 高度不要那么高 */
}

.card{
	border-radius: 0.4em; /* 卡片圆角 */
}

aside{
	border-radius: 0.4em; /* 提示框圆角 */
}

code{
border-radius: 3px; /* 代码块圆角 */
}

h2, h3 {
	border-bottom: 1px solid var(--sl-color-gray-6);
    padding-bottom: 8px;
	margin-bottom: 1.5rem;
}

a{
	text-decoration: none; /* 去掉超链接下划线 */
}

.sl-link-card{
	box-shadow: none !important; /* 取消卡片阴影 */
}

blockquote{
	border-inline-start: 2px solid var(--sl-color-gray-5) !important; /* 引用块左边框 */
	p{
		color: var(--sl-color-gray-3) !important; /* 引用块文字颜色 */
	}
	ol, li {
		color: var(--sl-color-gray-3) !important; /* 引用块列表颜色 */
	}
}

.sidebar-content>ul>li,a{
	line-height: 1.8; /* 侧边栏目录行高 */
}

/* Dark mode colors. */
:root {
	--sl-color-accent-low: #002b29;
	--sl-color-accent: #007a75;
	--sl-color-accent-high: #84dbd5;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #eeeded;
	--sl-color-gray-2: #c2c2c2;
	--sl-color-gray-3: #8c8b8b;
	--sl-color-gray-4: #595857;
	--sl-color-gray-5: #393838;
	--sl-color-gray-6: #272626;
	--sl-color-black: #181818;
}
/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #a7e5e0;
	--sl-color-accent: #007c77;
	--sl-color-accent-high: #003b38;
	--sl-color-white: #181818;
	--sl-color-gray-1: #272626;
	--sl-color-gray-2: #393838;
	--sl-color-gray-3: #595857;
	--sl-color-gray-4: #8c8b8b;
	--sl-color-gray-5: #c2c2c2;
	--sl-color-gray-6: #eeeded;
	--sl-color-gray-7: #f6f6f6;
	--sl-color-black: #ffffff;
}